@tailwind base;
@tailwind components;
@tailwind utilities;

.max-w-8xl {
    max-width: 90rem;
}

.card-1 {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.card-1:hover {
    box-shadow: 0 4px 7px rgba(0, 0, 0, 0.25), 0 5px 5px rgba(0, 0, 0, 0.22);
}

.hidden-placeholder::placeholder {
    color: transparent;
}

.hidden-placeholder:focus::placeholder {
    color: gray;
}
